html
{
    background-image:url("./images/sfondo1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img
{
    border: 3px solid black;
}

div
{
    background-color: rgb(227, 215, 200);
}

#titolo
{
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin: 10px 200px;
    background-color: rgb(227, 215, 200);
}

#carbonara
{
    border: 5px solid black;
    border-radius: 40px;
    width:min-content;
    text-align: center;
    position: relative;
    left: 100px;
    top: 40px;
    
}

#pasta1
{
    border: 5px solid black;
    margin: 0px 10px;
}

#carbo
{
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin: 10px 200px;
    background-color: rgb(227, 215, 200);
    padding: 20px;
}

#titoloCarbo
{
    padding-bottom: 15px;
    font-size: 60px;
}

#cacio
{
    text-align: center;
    border: 5px solid black;
    border-radius: 40px;
    width:min-content;
    position: relative;
    left: 600px;
    bottom: 295px

}

#pasta2
{
    border: 5px solid black;
    margin: 0px 10px;
}

#Cacio
{
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin: 10px 200px;
    background-color: rgb(227, 215, 200);
    padding: 20px;
}

#titoloCacio
{
    padding-bottom: 15px;
}

#olio
{
    border: 5px solid black;
    border-radius: 40px;
    width:min-content;
    text-align: center;
    position: relative;
    left: 1100px;
    bottom: 620px;
}

#pasta3
{
    border: 5px solid black;
    margin: 0px 10px;
}

#Olio
{
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin: 10px 200px;
    background-color: rgb(227, 215, 200);
    padding: 20px;
}

#titoloAglio
{
    padding-bottom: 15px;
}

#footera
{
    border: 5px solid black;
    border-radius: 40px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.828); 
}
